language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
before_install:
  - pip install -r requirements.txt
  - pip install -r test_requirements.txt
install:
  - pip install -e . # install the package
script:
  - pytest